*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#ant specific
9CardSiege/dist/
9CardSiege/build/

#netbeans specific
core
9CardSiege/nbproject/*
!9CardSiege/nbproject/project.properties
!9CardSiege/nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/9CardSiege/nbproject/private/
